$title: #C7D4DB;
%title-font {
    font-size: 60px;
    line-height: 73px;
    font-weight: 500;
}
%title-padding {
    padding-top: 185px;
}
$text: #E5E5E5;
%text-font {
    font-size: 20px;
    line-height: 150%;
}